/*Header/logo*/
.search-bar{
    padding: 25px;}
.header{
padding: -10px;
text-align: right;
background-color:sky Blue;
font-size: 3; 
}

.input{
    margin-top: 30px;
    outline: none;
    border-radius: 30px;
    border: 1px solid #73AD21;
    padding: 10px;
    width: 450px;
    text-align: center;
}
    
    .logo{
    border-radius: 14px;
    margin-left: 40px
    padding-right:70px; 
}
.search #searchIcon{
    margin: 0px;
    padding-left: 30px;
    position: absolute;
    text-align: center;
    margin: auto;
    width: 20px;
    height: 20px;
}
    
/* 1st footer*/
.footer1{
    position: absolute;
    left: 0;
    padding-bottom:1rem;
    right: 0;
    width: 100%;
    background-color: grey;
    color: white;
    text-align: left;
    bottom: 60px;
    font-size: 18px;
}
/*2nd footer*/
.footer2{
    position: absolute;
    left: 0;
    bottom: -0.5px;
    width: 100%;
    background-color: grey;
    color: white;
    text-align: center;
    font-size: 18px;
}
.img-container{
    text-align: center;
}